/*fais moi un root avec les couleurs de hunger games */
:root{
  --main-color: #D19358;
  --secondary-color: #F19B00;
  --black-color: #241103;
  --white-color: #FFFBFF;
  --lightgray-color: #FDF0D9;
  --gray-color: #d7ccca;
}

html{
  margin: 0;
  padding: 0;
  font-family: 'Cardo', sans-serif;
  background: url('./public/img/background.jpg') no-repeat;
  color: var(--white-color);
}

body{
  width: 80%;
  margin: 0 auto;
}

h1{
  font-size: 3vmax;
}

nav{
  color: var(--white-color);
  text-align: center;
}

nav ul {
  font-size: 1.5vmax;
  display: flex;
  align-items: center;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-bottom: 0;
}

nav ul li {
  list-style: none;
  margin-right: 2%;
  background-color: var(--main-color);
}

nav ul li a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--white-color);
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: var(--main-color);
  border-top-right-radius: 2%;
  border-top-left-radius: 2%;
  transition: 0.5s color, 0.5s background-color;
}

nav ul li {
  border-top-right-radius: 2%;
  border-top-left-radius: 2%;
  transition: 0.5s color, 0.5s background-color;
}

nav ul li:hover a, nav ul li:hover{
  color: var(--white-color);
  background-color: var(--secondary-color);
  transition: 0.5s color, 0.5s background-color;
}

.active{
  color: var(--white-color);
  background-color: var(--secondary-color);
}


main{
  margin: 0 auto;
  background-color: var(--gray-color);
  border-top-right-radius: 2%;
  color: var(--black-color);
  padding: 2%;
}

main hr{
  border: var(--black-color) 1px solid;
  width: 100%;
}

#home section {
  display: flex;
  margin-bottom: 2%;
}

#imgAuthor{
  width: auto;
  border-radius: 2%;
}

.leftPart{
  width: 80%;
  display: flex;
  margin-right: 2%;
  flex-direction: column;
}

.leftImg{
  display: flex;
  flex-direction: column;
}

details{
  width: 100%;
  margin-top: 2%;
  border-radius: 10px;
  background-color: var(--white-color);
}

details ul{
  width: 90%;
}

details ul li p{
  width: 100%;
  padding: 2%;
  font-style: italic;
}

details ul li a{
  color: var(--secondary-color);
  font-size: 1vmax;
  transition: color 0.5s;
}

details ul li a:hover{
  color: var(--main-color);
  transition: color 0.5s;
}

summary{
  cursor: pointer;
  font-size: 1.2vmax;
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 10px;
  border-radius: 10px;
  margin-top: 2%;
  transition: 0.5s color, 0.5s background-color;
}

summary:hover{
  color: var(--main-color);
  background-color: var(--white-color);
  transition: 0.5s color, 0.5s background-color;
}

.rightPart {
  width: 100%;

}

.text, .review{
  border-radius: 10px;
  margin-left: 1%;
  padding: 2%;
  background-color: var(--white-color);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.text div{
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  flex-direction: column;
  border-radius: 2%;
}

.review div{
  background-color: var(--white-color);
  padding: 2%;
  border-radius: 2%;
}

.text img{
  width: 25%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

sub{
  text-align: center;
  font-style: italic;
  margin-top: 1%;
}

.review{
  margin-top: 2%;
}

.review hr:last-of-type{
  width: 50%;
}

.slider{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-radius: 10px;
  align-items: center;
  height: 200px;
}

.slidePart{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.slide {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  opacity: 0;
  display: none;
  text-align: center;
  border-radius: 10px;
  transition: opacity 0.5s;
}

#slideCounter{
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}


.slideButton{
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  border: var(--main-color) 2px solid;
  background-color: transparent;
  justify-content: center;
  font-size: 0.8vmax;
  border-radius: 10px;
  cursor: pointer;
}

.activeBtn, .slideButton:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

.activeSlide{
  opacity: 1;
  transition: opacity 0.5s;
}

.next, .prev{
  width: 5%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vmax;
  border-radius: 10px;
  cursor: pointer;
}

.next{
  padding-left: 2%;
}

.prev{
  padding-right: 2%;
}

#home section .text a{
  color: var(--secondary-color);
  transition: color 0.5s;
}

#home section .text a:hover{
  color: var(--main-color);
  transition: color 0.5s;
}

footer{
  padding: 10px;
  text-align: center;
  background-color: var(--gray-color);
  color: var(--black-color);
  margin-top: 1%;
}

footer hr{
  width: 50%;
  border: var(--black-color) 1px solid;
}

footer h3{
  text-align: left;
  padding-left: 10px;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline-start: 0;
}

footer ul li {
  list-style: none;
}

/*fais moi un style pour le a */
footer ul li a {
  border: 2px solid var(--main-color);
  border-radius: 10px;
  text-decoration: none;
  color: var(--black-color);
  display: block;
  padding: 7px;
  width: 100%;
  height: 100%;
  transition: 0.5s color, 0.5s background-color;
}

footer ul li a:hover {
  background-color: var(--main-color);
  color: var(--white-color);
  transition: 0.5s color, 0.5s background-color;
}